/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  background-image: url(pictures/homepagecover.png);
  background-size: 100% 100%; /* cover;         /* Resizes imagine to fill the screen */
  /*background-position: center;       /* keeps the image centered */
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  min-height:100vh;
}

/* Header / Cover Page */
header {
  height: 50vh;
  display: flex;
  flex-direction row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  color: #060606; /* Black text */
  margin-bottom: 20px;
}

header p {
  font-size: 1.2rem;
  color: #0d0d0d;
  max-width: 600px;
}

/* Navigation */
nav {
  background-color: #fdfafa; /* white navigation bar */
  padding: 20px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a: hover {
  text-decoration: underline;
}

/* Main Content */
main {
  padding: 40px 2px;
  max-width: 1200px;
  margin: auto;
}

/* Footer */
footer {
  background-color: #6c0de1; /* Black footer */
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 0.9rem;
}
